.topTracks__inner{
    padding-right: 40px;
}

.top_tracks_attributes{
    display: flex; 
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.top_tracks_niche{
    margin: 0px;
    margin-left: 10px;
    width: 28%;
}

.top_track_item{
    border-radius: 4px;
    width: 100%;
}

@media (max-width: 800px){
    .topTracks__inner{
        padding-right: 10px;
        padding-left: 10px;
    }

    .top_track_item{
        height: 74.4px;
        width: 100%;
    }
}